body {
	background-color: #000000;
}
.RGBButton
{
	background-color: #cccccc;
	border-width: 1px;
	border-radius: 10px;
	font-weight: bold;
	width: 80px;
}
.RGBButton:hover {
    background-color: #ffffff;
}
#menu {
	background-color: #888888;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	margin: auto;
	padding: 5px;
	text-align: center;	  
	width: 175px;
}
#showButton {
	background-color: #888888;
    border-color: #000000;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    display: none;    
    height: 20px;
    margin: auto;
    width: 20px;
}
#showButton:hover {
    background-color: #cccccc;
}
